@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.div-checkout-page {
    .title-my-cart {
        width: 302px;
        height: 23px;
        font-size: 22px;
        margin-top: 44px;
        margin-left: 62px;
        font-family: "Poppins";
        border-radius: 2px;
        padding-bottom: 25px;
        border-bottom: rgba(3, 62, 140, 0.56) solid 3px;
    }

    .div-order-checkout {
        width: 93%;
        margin: 0 auto;
        margin-top: 49px;

        table {
            thead {
                background: #033e8c;
                tr {
                    th {
                        color: #fff;
                    }
                }
            }
        }

        .div-info-product {
            display: flex;

            .img-data {
                width: 136px;
                height: 98px;
                background-color: #c4c4c4;
            }

            .div-info-product {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 14px;
                font-family: "Poppins";
                margin-left: 25px;
               

                .info-data-title {
                    color: #4d4d4d;
                    margin-bottom: 0;
                    font-weight: bold;
                }

                .data-hour {
                    margin-top: 2px;
                    color: #5a5a5b;
                    margin-bottom: 0;
                }

                .local {
                    margin-top: 2px;
                    color: #999999;
                    margin-bottom: 0;
                }
            }
        }
            .price-uni,
            .quanti,
            .price {
                font-size: 16px;
                color: #4d4d4d;
                margin-bottom: 0;
                font-weight: bold;
            }
    }

    .div-total-button-finish {
        margin-top: 35px;
        width: 100%;

        .div-total {
            display: flex;
            justify-content: end;
            margin-top: 29px;
            font-weight: bold;

            .span-total {
                margin-right: 273px;
                font-size: 18px;
                text-transform: uppercase;
            }

            .span-total-price {
                font-size: 22px;
                margin-right: 65px;
                font-size: 18px;
            }
        }

        .div-btn-order-finish {
            width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 29px;
            justify-content: center;
            margin-left: auto;

            .btn-order-finish {
                width: 85%;
                height: 43px;
                border-radius: 8px;
                background-color: #033e8c;
                border: 0;


                .bnt-link {
                    display: block;
                    font-size: 17px;
                    color: #ffffff;
                    font-family: "Poppins";
                    font-weight: 700;
                    text-transform: uppercase;
                }

                &:hover {
                    opacity: 0.8;
                }
            }

            .bnt-link_back {
                display: block;
                color: #f27507;
                font-weight: 700;
                text-decoration: underline !important;
                margin-top: 10px;
            }
        }
    }
}
