@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.div-checkout-page {
    .title-my-cart {
        width: 302px;
        height: 23px;
        font-size: 22px;
        margin-top: 44px;
        margin-left: 62px;
        font-family: "Poppins";
        border-radius: 2px;
        padding-bottom: 25px;
        border-bottom: rgba(3, 62, 140, 0.56) solid 3px;
    }

    .div-order-checkout {
        margin-top: 49px;
        margin-left: 62px;
        margin-right: 256px;

        .div-info-data-checkout {
            display: flex;
            border-radius: 10px;
            background-color: #033e8c;

            .div-product {
                margin-left: 39px;

                .span-product {
                    color: white;
                    font-weight: bold;
                    margin-bottom: 0px;
                }
            }

            .div-price-quant {
                width: 100%;
                display: flex;
                font-weight: bold;
                margin-right: 15px;
                justify-content: flex-end;

                .span-price-unit {
                    color: #ffffff;
                    margin-right: 28px;
                    margin-bottom: 0px;
                }

                .span-quantid {
                    color: #ffffff;
                    margin-right: 53px;
                    margin-bottom: 0px;
                }

                .span-price {
                    color: #ffffff;
                    margin-bottom: 0px;
                }
            }
        }

        .info-data {
            display: flex;
            width: 100%;
            margin-top: 22px;

            .img-data {
                width: 136px;
                height: 98px;
                margin-left: 25px;
                background-color: #c4c4c4;
            }

            .div-info-product {
                margin-left: 84.63px;
                font-size: 12px;
                font-family: "Poppins";

                .info-data-title {
                    color: #4d4d4d;
                    width: 199.36px;
                }

                .data-hour {
                    margin-top: 2px;
                    color: #5a5a5b;
                    font-weight: bold;
                }

                .local {
                    margin-top: 2px;
                    color: #999999;
                }

                .state {
                    margin-top: 2px;
                    color: #999999;
                }
            }

            .div-quanti-prices {
                display: flex;
                width: 100%;
                font-size: 18px;
                font-weight: bold;
                margin-right: 12px;
                justify-content: flex-end;

                .price-uni {
                    margin-right: 68px;
                    font-family: "Poppins";
                }

                .quanti {
                    margin-right: 68px;
                    font-family: "Poppins";
                }
            }
        }
    }

    .div-total-button-finish {
        margin-top: 35px;
        width: 90%;
        margin-right: 256px;

        .div-total {
            display: flex;
            justify-content: end;
            margin-top: 29px;
            font-weight: bold;

            .span-total {
                margin-right: 273px;
                font-size: 18px;
                text-transform: uppercase;
            }

            .span-total-price {
                font-size: 22px;
                margin-right: 65px;
                font-size: 18px;
            }
        }

        .div-btn-order-finish {
            width: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 29px;
            justify-content: center;
            margin-left: auto;

            .btn-order-finish {
                width: 400px;
                height: 53px;
                border-radius: 10px;
                background-color: #033e8c;

                .bnt-link {
                    font-size: 20px;
                    color: #ffffff;
                    font-family: "Poppins";
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }

            .bnt-link_back {
                display: block;
                color: #f27507;
                font-weight: 700;
                text-decoration: underline !important;
                margin-top: 10px;
            }
        }
    }
}
