@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.div-profile-page {
    .h1-title-my-profile {
        font-size: 22px;
        margin-top: 132px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        color: #000000;
        border-bottom: rgba(3, 62, 140, 0.56) solid;
        width: 302px;
        margin-left: 45%;
        margin-right: 45%;
    }

    .div-profile-order {
        display: flex;
        margin-left: 27px;

        .div-profile {
            margin-left: 27px;
            width: 180px;
            height: 55px;
            background: #F5F5F6;
            text-align: center;
            border-radius: 20px 20px 0px 0px;
            margin-top: 10px;

            .span-profile {
                display: flex;

                .link-profile {
                    margin-left: 63px;
                    margin-top: 20px;
                    text-decoration: none;
                    font-size: 18px;
                    color: #000000;
                    font-weight: bold;
                    font-family: 'Poppins', sans-serif;
                }
            }
        }

        .div-order {
            margin-left: 11px;
            width: 180px;
            height: 55px;
            background: #F5F5F6;
            text-align: center;
            border-radius: 20px 20px 0px 0px;
            margin-top: 10px;


            .span-order {
                display: flex;

                .link-order {
                    margin-left: 58px;
                    margin-top: 20px;
                    text-decoration: none;
                    font-size: 18px;
                    color: #C2C2C2;
                    font-weight: bold;
                    font-family: 'Poppins', sans-serif;
                }
            }
        }
    }

    //dados
    .div-personal-data-account {
        display: flex;
        background: #F5F5F6;
        justify-content: center;

        .div-personal-data {
            margin-bottom: 75px;
            margin-right: 24px;

            .h1-title-personal-data {
                text-align: center;
                margin-top: 64px;
            }

            .div-img-button {

                .div-img {
                    text-align: center;
                    margin-top: 58.45px;

                    .img-Photograph {
                        background-color: #858585;
                        border-radius: 100%
                    }
                }

                .div-button {
                    text-align: center;
                    margin-top: 10.63px;

                    .btn-trocar-Photograph {
                        background-color: #F17604;
                        border-style: none;
                        border-radius: 10px;
                        color: #FFFDFD;
                        cursor: pointer;
                        width: 140px;
                        height: 18px;
                    }
                }
            }

            .div-name-input {
                margin-top: 45.68px;
                margin-left: 117px;

                .div-label-name {
                    .label-name {
                        font-size: 18px;
                        width: 400px;
                        font-weight: bold;
                        font-family: 'Poppins';
                    }
                }

                .div-input-name {
                    .input-name {
                        width: 408.72px;
                        height: 45.77px;
                        border: 1px solid #C4C4C4;
                        border-radius: 8px;
                    }
                }
            }

            .div-cpf-input {
                margin-top: 45.68px;
                margin-left: 117px;

                .div-label-cpf {
                    .label-cpf {
                        font-size: 18px;
                        width: 400px;
                        font-weight: bold;
                        font-family: 'Poppins';
                    }
                }

                .div-input-cpf {
                    .input-cpf {
                        width: 408.72px;
                        border: 1px solid #C4C4C4;
                        border-radius: 8px;
                        height: 45.77px;
                    }
                }
            }

            .div-birth-input {
                margin-top: 45.68px;
                margin-left: 117px;

                .div-label-birth {
                    .label-title-birth {
                        font-size: 18px;
                        width: 400px;
                        font-weight: bold;
                        font-family: 'Poppins';
                    }
                }

                .div-input-date-birth {
                    display: flex;

                    .input-day {
                        height: 45.77px;
                        width: 128.27px;
                        border: 1px solid #C4C4C4;
                        border-radius: 8px;
                    }

                    .input-month {
                        height: 45.77px;
                        width: 128.27px;
                        margin-left: 23.9px;
                        border: 1px solid #C4C4C4;
                        border-radius: 8px;
                    }

                    .input-year {
                        height: 45.77px;
                        width: 128.27px;
                        margin-left: 23.9px;
                        border: 1px solid #C4C4C4;
                        border-radius: 8px;
                    }
                }
            }
        }

        hr {
            margin-left: 10%;
            margin-right: 10%;
        }

        .div-account {
            margin-bottom: 98.74px ;

            .h1-title-account {
                text-align: center;
                margin-top: 64px;
            }

            .div-lable-email {
                margin-top: 86px;
                margin-left: 93px;
                font-weight: bold;
                font-family: 'Poppins';

                .label-email {
                    font-size: 18px;
                }
            }

            .div-input-email {
                margin-left: 93px;

                .input-email {
                    width: 408.72px;
                    height: 45.77px;
                    border: 1px solid #C4C4C4;
                    border-radius: 8px;
                }
            }

            .div-label-email-confirm {
                margin-left: 93px;
                margin-top: 45.8px;

                .label-email-confirm {
                    width: 408.72px;
                    height: 45.77px;
                    font-weight: bold;
                    font-family: 'Poppins';
                }
            }

            .div-input-email-confirm {
                margin-left: 93px;

                .input-email-confirm {
                    width: 408.72px;
                    height: 45.77px;
                    border: 1px solid #C4C4C4;
                    border-radius: 8px;
                }
            }

            .div-label-pass {
                margin-left: 93px;
                margin-top: 45.8px;

                .label-pass {
                    width: 408.72px;
                    height: 45.77px;
                    font-weight: bold;
                    font-family: 'Poppins';
                }
            }

            .div-input-pass {
                margin-left: 93px;

                .input-pass {
                    width: 408.72px;
                    height: 45.77px;
                    border: 1px solid #C4C4C4;
                    border-radius: 8px;
                }
            }

            .div-label-new-pass {
                margin-left: 93px;
                margin-top: 45.8px;

                .label-new-pass {
                    width: 408.72px;
                    height: 45.77px;
                    font-weight: bold;
                    font-family: 'Poppins';
                }
            }

            .div-input-new-pass {
                margin-left: 93px;

                .input-new-pass {
                    width: 408.72px;
                    height: 45.77px;
                    border: 1px solid #C4C4C4;
                    border-radius: 8px;
                }
            }

            .btn-save {
                background-color: #F17604;
                border-style: none;
                border-radius: 10px;
                color: #FFFDFD;
                cursor: pointer;
                width: 115px;
                height: 29.26px;
                margin-top: 39px;
                margin-left: 395px;
            }
        }
    }
}