@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

.div-register {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #01318B;

    .div-img-email-pass {
        display: flex;
        width: 924px;
        height: 503px;
        margin-top: 206px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        background-color: #D8D8D8;

        .div-img {
            .img {
                width: 100%;
                height: 100%;
                filter: grayscale(100%);
                border-radius: 10px 0px 0px 10px;
            }
        }

        .form-input-email-pass-info {
            display: block;
            width: 100px;
            height: 100px;
            margin-top: 30px;

            .div-cadastro {
                margin-left: 120px;

                .h1-cadastro {
                    font-size: 25px;
                    width: 275px;
                    text-align: center;
                    font-family: 'Poppins', sans-serif;
                }
            }

            .div-input-name-email-pass {
                margin-left: 96px;
                margin-top: 0px;

                .div-name {
                    .span-name {
                        color: #9B9B9B;
                        font-size: 12px;
                        margin-left: 10px;
                        width: 500px;
                    }

                    .input-nome {
                        width: 305px;
                        height: 36px;
                        border: #9B9B9B 1px solid;
                        border-radius: 8px;
                    }
                }

                .div-email {
                    margin-top: 8px;

                    .span-email {
                        color: #9B9B9B;
                        font-size: 12px;
                        margin-left: 10px;
                        width: 500px;
                        display: flex;
                    }

                    .input-email {
                        width: 305px;
                        height: 36px;
                        border: #9B9B9B 1px solid;
                        border-radius: 8px;
                    }
                }

                .div-pass {
                    margin-top: 8px;

                    .span-pass {
                        color: #9B9B9B;
                        font-size: 12px;
                        margin-left: 10px;
                        width: 500px;
                        display: flex;
                    }

                    .input-pass {
                        width: 305px;
                        height: 36px;
                        border: #9B9B9B 1px solid;
                        border-radius: 8px;
                    }
                }
            }
        }

        .div-register-button {
            margin-top: 35px;
            margin-left: 96px;

            .btn-register {
                width: 159px;
                height: 29px;
                border-radius: 30px;
                border: none;
                background-color: #F17604;
                color: #FFFFFF;
                font-size: 12px;
                cursor: pointer;
                margin-left: 80px;
            }

            .div-register {
                margin-top: 23px;
                width: 290px;
                margin-left: 70px;
                font-size: 10px;

                .span-register {
                    margin-top: 150px;
                    height: 24px;

                    .span-a-link {
                        text-decoration: none;
                    }
                }
            }
        }

        .div-announce-events {
            margin-left: 70px;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
            width: 400px;

            .btn-announce {
                width: 134px;
                height: 26px;
                background-color: #5D63DE;
                color: #FFFFFF;
                cursor: pointer;
                font-size: 12px;
                border: none;
                border-radius: 8px;
            }

            .btn-events {
                background-color: #5D63DE;
                color: #FFFFFF;
                width: 190px;
                height: 26px;
                cursor: pointer;
                font-size: 12px;
                border: none;
                border-radius: 8px;
                margin-right: 10px;
            }
        }
    }
}